*{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.nav-text {
  font-size: 16px;
  font-weight: normal;
}
.nav-text:hover{
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav-text{
    font-size: 18px;
  }}
body{
  font-size: 15px;
  padding-top: 0rem;
}
p{
  font-size: 15px;
}
.light-form{
  font-weight: 200;
}
.logo{
  font-family: 'Ubuntu', sans-serif;
}
.margin-btn{
  margin-bottom: 0px;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
   box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
 }
 .blog-header {
   line-height: 1;
   border-bottom: 1px solid #e5e5e5;
 }
.text-green{
  color: #28a745;
}
.text-blue{
  color: #007bff;
}
.low{
  background-image: url(low.jpg);

/*  */
.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
/*  */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

 }
@media (min-width: 1200px) {
  .container{

  }
}
